<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/7b09a46f67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

      <div class="background-top"></div>

      <div id="root">

        <div class="contacts float">

            <div class="user-info">

              <div class="user-avatar">

                <a href="#">
                    <img class="avatar-image" id="user-icon" src="img/avatar-io.png" alt="">

                </a>

              </div>

              <div class="user-settings">
                <a href="#">
                  <i class="fas fa-circle-notch"></i>
                </a>
                <a href="#">
                  <i class="fas fa-comment-alt"></i>
                </a>
                <a href="#">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
              </div>


            </div>

            <div class="notification">

              <div class="bell">
                <a href="#">
                  <i class="fas fa-bell-slash"></i>
                </a>
              </div>

              <div class="text-notification">

                <a href="#">
                  <p>Ricevi notifiche di nuovi messaggi</p>
                </a>
                <a href="#">
                  <small>Attiva notifiche desktop</small>
                </a>




              </div>




            </div>

            <div class="search-users">

              <a href="#">
                <i class="fas fa-search"></i>
              </a>
              <input id="search" type="search" name="" value="" placeholder="Cerca o inizia una nuova chat">

            </div>

            <div class="contacts-list">

              <ul class="friends-chat">

                <li @click="chooseFriend(index)" v-for="(user, index) in contacts" >

                  <div class="friend">
                    <div class="friend-avatar">

                      <a href="#">
                        <img class="avatar-image" :src="user.avatar" alt="">
                      </a>

                    </div>
                    <div class="friend-info">

                      <div>
                        <a href="#">

                            <p>{{user.name}}</p>
                            <small>Non poteva essere altrimenti</small>

                        </a>
                      </div>



                      <div class="chat-time">

                        <small>17:55</small>

                      </div>


                    </div>
                  </div>

                </li>

              </ul>

            </div>

        </div>

        <div class="chatbox float">

            <div class="contacted-user" >

              <div class="friend-contacted-avatar">

                <img class="avatar-image" :src="contacts[indexContacts].avatar" alt="">

              </div>

              <div class="friend-contacted-info">

                <p>{{contacts[indexContacts].name}}</p>

                <small class="opacity-down">Ultimo accesso oggi alle 15:40</small>

              </div>







            </div>

            <!-- <div class="chat">

              <p v-for="(message, index) in contacts[indexContacts].messages">
                {{message.message}}
              </p>
            </div> -->

        </div>




      </div>

      <div class="background-bottom"></div>

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
