* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Classi generiche */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.float {
  float: left;
}

/***********  Preparazione Layout ********** */

.background-top {
  background-color: #12916b;
  height: 15vh;
}

.background-bottom {
  background-color: #dbd4c5;
  height: 85vh;
}

#root {
  position: absolute;
  width: 1200px;
  height: 650px;
  background-color: white;
  right: 50%;
  top: 50%;
  transform: translate(+50%, -50%);

}

#root::after {
  content: '';
  clear: both;
  display: table;
}

.contacts {
  width: 450px;
  height: 100%;
  background-color: coral;
  display: flex;
  flex-direction: column;
}

.chatbox {
  width: 750px;
  height: 100%;
  background-color: lightblue;
}

/********** Inizio lato lista contatti ***********/

.user-info {
  width: 100%;
  height: 65px;
  background-color: #eae8e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #dddcd9;
}

.notification {
  width: 100%;
  height: 75px;
  background-color: #4abedb;
  display: flex;
  align-items: center;
}

.search-users {
  height: 50px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts-list {
  height: calc(650px - 50px - 75px - 65px);
  background-color: white;
  padding: 20px;
}

#user-icon {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.user-settings a i {
  color: #b5b3af;
  font-size: 20px;
  padding-right: 10px;
}

.notification a i {

  color: #4abedb;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
}

.bell {
  margin-left: 20px;
}

.bell p {
  font-size: 14px;
  padding-left: 5px;
  display: inline-block;
}

.bell small {
  display: block;
}

.search-users a i {
  color: #b5b3af;
  font-size: 14px;
  margin-left: 10px;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;

}

#search {
  border: none;
  padding: 9px;
  border-radius: 5px;
  width: 75%;
}

.contacts-list ul li a img {
  width: 50px;
  height: 50px;
}

.friends-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.friend-info {
  padding-left: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-info small {
  color: rgba(0, 0, 0, 0.4);
}


/***********  Inizio lista chatbox ***********/

.contacted-user {
  
  height: 65px;
  background-color: #eae8e3;
}


.chat {
}
