* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Classi generiche */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.float {
  float: left;
}

p, small {
  color: #3d3737;
}

.opacity-down {
    opacity: .6;
}

.disabled {
    display: none;
}

.active {
    display: block;
}


/***********  Preparazione Layout ********** */

.background-top {
  background-color: #12916b;
  height: 15vh;
}

.background-bottom {
  background-color: #dbd4c5;
  height: 85vh;
}

#root {
  position: absolute;
  width: 1200px;
  height: 650px;
  right: 50%;
  top: 50%;
  transform: translate(+50%, -50%);


}

#root::after {
  content: '';
  clear: both;
  display: table;
}

.contacts {
  width: 450px;
  height: 100%;
  background-color: coral;
  display: flex;
  flex-direction: column;

}

.chatbox {
  width: 750px;
  height: 100%;
}

/********** Inizio lato lista contatti ***********/

.user-info {
  width: 100%;
  height: 65px;
  background-color: #eae8e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #dddcd9;
}

.notification {
  width: 100%;
  height: 75px;
  background-color: #4abedb;
  display: flex;
  align-items: center;
}

.search-users {
  height: 50px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts-list {
  height: calc(650px - 50px - 75px - 65px);
  background-color: white;
  overflow: scroll;
}

#user-icon {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.user-settings a i, .chat-settings a i {
  color: #b5b3af;
  font-size: 20px;
  padding-right: 10px;
}

.notification a i {

  color: #4abedb;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
}

.text-notification small {
  text-decoration: underline;
}

.bell {
  margin-left: 20px;
  margin-right: 10px;
}



.search-users a i {
  color: #b5b3af;
  font-size: 14px;
  margin-left: 10px;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;

}

#search {
  border: none;
  padding: 9px;
  border-radius: 5px;
  width: 75%;
}

.avatar-image {
  width: 65px;
  height: 65px;
}

.friends-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

#row-friend {
    padding: 10px;
    cursor: pointer;
}

#row-friend:hover {
    background-color: #c4c2be;
}

.friend-selected:active {
    background-color: #c4c2be;
}


.friend-info {
  padding-left: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-info small {
  color: rgba(0, 0, 0, 0.4);
}


/***********  Inizio lista chatbox ***********/

.contacted {
  display: flex;
  align-items: center;
}

.contacted-user {

  height: 65px;
  background-color: #eae8e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-contacted-avatar {
  margin-left: 10px;
}

.friend-contacted-info {
  padding-left: 10px;
}

.contacted-avatar {
  width: 50px;
  height: 50px;
}

.chat {
  height: calc(100% - 65px - 65px);
  overflow: scroll;
  background-image: url('img/background-whatsapp.png');
}

.send-message {
  height: 65px;
  background-color: #eae8e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#emoji {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.write-message {
  flex-grow: 1;
}

#text-input {
  width: 100%;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
}

#icon-vocal-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;

}


/************ INIZIO ZONA CHAT  **************/

.sent, .received {
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  clear: both;
}

.sent {
  background-color: #bcf7b2;
  float: right;
  margin-right: 20px;
  max-width: 70%;
}

.received {
  background-color: white;
  float: left;
  margin-left: 20px;
  max-width: 70%;
}

.message {
  position: relative;
}

.message:hover .option-message {

    transition: all 0.2s;
    opacity: 0.6;
    right: 10px;

}

.message-hour {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 10px;
}


.option-message {
    position: absolute;
    top: 2px;
    right: 0px;
    padding: 2px;
    opacity: 0;
}


.sub-menu-message  {
    padding: 10px 15px;
    width: 200px;
    height: 140px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 5px 13px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 5px 13px 0px rgba(50, 50, 50, 0.6);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.message.sent .sub-menu-message {
    top: 25px;
    right: 10px;

}

.message.received .sub-menu-message {
    top: 25px;
    left: 90%;

}

.sub-menu-message a {
    padding: 5px;
    display: inline-block;
    color: #3d3737;

}
